#main-container{
  border-radius: 8px;
  font-family: Roboto;
  min-height: 300px;
  width:100%;
  overflow: auto;
  margin: 0 auto;
}

.input{
  border: 1px solid gray;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-left: 5%;
  width: 90%;
}

label{
  margin-left: 5%;
  color: grey;
  font-size: 12px;
}

.theme-content{

  height: 170px;
  resize: none;
}

button{
  margin-left: 5%;
}

.white{
  background-color: #f0f0f0;
  color: #000000;
}

input.ng-invalid, textarea.ng-invalid{
  border: 1px solid orangered;
}

input.ng-valid, textarea.ng-valid{
  border: 1px solid greenyellow;
}

#input-warn, #area-warn{
  position: absolute;
  z-index: 50;
  font-size: 30px;
  color: red;
}

#input-warn{
  top: 8%;
  right: 2.8%;
}

#area-warn{
  top: 16%;
  right: 2.8%;
}
