<br>
<div class="log-in-form log-form">
    <br>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
            <input id="tb-username" type="text" class="form-control" placeholder="Заглавие">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
            <textarea type="text" class="form-control" placeholder="Текст на обявата"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" id="btn-login">Публикувй</button>
</div>