<br>
<form (ngSubmit)="registerUser()" class="register-form log-form">
    <h1>Регистрация</h1>
    <br>
    <div class="form-group">
        <label for="tb-firstname">Собствено име: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input id="tb-firstname" [(ngModel)]="firstname" name="firstname" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-last">Фамилно име: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input id="tb-lastname" [(ngModel)]="lastname" name="lastname" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-username">Потребителско име: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input id="tb-username" [(ngModel)]="username" name="username" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-password">E-mail: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn">Парола: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn-confirm">Повтори паролата: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            <input [(ngModel)]="passwordConfirm" name="passwordConfirm" type="password" class="form-control" required>
        </div>
    </div>
    <button class="btn btn-primary" id="btn-register">РЕГИСТРАЦИЯ</button>
</form>