button {
	display: block;
	margin: 0 auto
}

h1 {
	text-align: center
}

div.register-form.log-form{
	display: block;
	margin: 0 auto
}

.log-form {
	margin: 2%;
	padding: 1%;
	max-width: 70%;
	border: 2px solid steelblue;
	color: steelblue;
	border-radius: 5px;
}