<div *ngFor="let babysitter of babysitters">
  <div class="babysitter-container col-md-6">
    <div class="row">
      <img class="col-md-6" src="{{babysitter.image}}" alt="Babysitter image" width="30px" height="50px">
      <div class="col-md-6 overflowed">
        <a>
          <h3>{{babysitter.name}}</h3>
        </a>
        <h4><a>гр. Перник</a></h4>
        <h4 class="age">{{babysitter.age}} години</h4>
        <h4>
          <span class="star glyphicon glyphicon-star"></span>
          <span class="star glyphicon glyphicon-star"></span>
          <span class="star glyphicon glyphicon-star"></span>
          <span class="star glyphicon glyphicon-star"></span>
          <span class="star glyphicon glyphicon-star"></span>
        </h4>
      </div>
    </div>
  </div>
</div>
