<div id="main-container">
    <h4 class="navigation-link"><span class="nav-link">Гледачки</span>
        <a href="#" class="category">Категории</a>
        <a href="#" class="category">Неотговорени</a>
        <a href="#" class="category">Най-нови</a>
    </h4>
    <div id="forum-main">
        <div id="forum-menu">
          <div [hidden]="!isvisible"><h3 >Най-нови</h3>
          </div>
            <h5 (click)="clicked()">+нова тема</h5>
        </div>
      <forum-form [hidden]="isvisible"></forum-form>
        <forum-post [postData]="post" *ngFor="let post of posts"></forum-post>
    </div>
    <div id="aside">
        <h2>Рекламите са тук!</h2>
    </div>
</div>
