<div id="main-container">
    <div class="nav-tashak"><h4 class="navigation-link"><span class="nav-link">Категория</span>
        <a href="#" class="category">Категории</a>
        <a href="#" class="category">Неотговорени</a>
        <a href="#" class="category">Най-нови</a>
      </h4>
    </div>
    <div id="forum-main">
      <div id="forum-menu">
            <div><div><h3 >Най-нови</h3></div></div>
              <div><h5 *ngIf="isUsable()" (click)="clicked() ; forumPostForm.reset()">+нова тема</h5></div>
         </div>
       <div [hidden]="isvisible" id="main-container" class="white">
       <div id="forum-menu">
          <form (ngSubmit)="addForumPost()" #forumPostForm="ngForm">
           <label for="theme">Заглавие на темата:</label>
            <input id="theme" name="theme" class="theme input" type="text" [(ngModel)]="forumPost.title" required
            pattern="[().,!?@' 'a-zA-Zа-яА-Я]*" #title="ngModel"/>
           <label for="theme-content">Съдържание на темата:</label>
            <textarea id="theme-content" name="content" class="theme-content input" [(ngModel)]="forumPost.postContent" required
                pattern="['\n'().,!?%@'-'' '0-9a-zA-Zа-яА-Я]*" #content="ngModel">
           </textarea>
           <button type="submit" (click)="clicked()" [disabled]="!forumPostForm.form.valid">изпращане</button>
          </form>
        </div>
      </div>
        <forum-post [postData]="post" *ngFor="let post of posts" (climbPost)="getPost(post)" (deletePost)="removePost(post)"></forum-post>
    </div>
    <div id="aside">
        <h2>Рекламите са тук!</h2>
    </div>
</div>
