div img {
    width: 78%;
    margin: 5px;
}

div.three {
    min-height: 150px;
    max-width: 100%;
    margin-left: 1px;
}

.fieldset-container {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
}

fieldset {
    border: 2px solid #c4bfc9;
    background-color: #dbcee7;
    border-radius: 5px;
    min-height: 220px;
    box-shadow: -2px 2px #2f0053;
    padding: 5px;
    font-size: 18px;
}

#fieldset-front-end {
    margin-left: 5px;
}

#fieldset-mobile {
    margin-right: 5px;
}

ol {
    color: #2f0053;
    font-size: 22px;
    max-width: 60%;
    display: block;
    margin: 0 auto;
}

legend {
    text-align: center;
    text-decoration: none;
    border: 0;
    padding-top: 1%;
    color: #2f0053;
    text-shadow: -1px 1px;
}

#registration-free {
    margin-left: 20%;
    margin-top: -75px;
}

#registration-home {
    color: #6559ea;
}

h4#sto {
    color: #2f0053;
    font-size: 18px;
    margin-left: -3px
}

.a-leg {
    color: #5c4a9c;
}

.a-leg:hover {
    color: #2f0053;
}