<div class="babysitter-container col-md-6">
	<p>Ако имате свободно време и обичате децата.</p>
	<img class="col-md-6" src="../../../assets/images/8c94d4f3a297.jpg" width="90px" height="50px">
</div>

<div class="babysitter-container col-md-6">
	<p>Ако трябва да работите или спешно ще пътувате.</p>
	<img class="col-md-6" src="../../../assets/images/busyMammy.jpg" width="90px" height="50px">
</div>

<div class="here"><h1>Тук е мястото за вас!</h1></div>

<!--<div>
	<h3>Top 5</h3>
	<h3>Най-харесваните</h3>
	<h3>детегледачки: </h3>
	<ol>
		<li>Мила</li>
		<li>Вася</li>
		<li>Петя</li>
		<li>Хриси</li>
		<li>Дени</li>
	</ol>
</div>-->
