<div>
	<div>
		<img src="../../../assets/images/pr.png" alt="home image">
	</div>
	<div id="registration-free">
		<h4 id="sto">100% безплатна</h4>
		<a id="registration-home" [routerLink]="['/new-babysitter']"><h4>РЕГИСТРАЦИЯ</h4></a>
	</div>
</div>
<hr>
<div class="row three">
	<div class="col-md-4 fieldset-container">
		<fieldset>
			<legend><a [routerLink]="['/listings']" class="a-leg">Топ обяви</a></legend>
			<dl class="legend-info">
				<a href="">Търся.....</a><br>
				<a href="">Предлагам.....</a><br>
				<a href="">Търся.....</a><br>
				<a href="">Предлагам.....</a><br>
				<a href="">Търся.....</a><br>
			</dl>
		</fieldset>
	</div>
	<div class="col-md-4 fieldset-container">
		<fieldset>
			<legend><a class="a-leg" [routerLink]="['/childminders']">Топ детегледачки</a></legend>
			<ol class="legend-info">
				<li><a [routerLink]="['/profile']">Мая</a></li>
				<li><a [routerLink]="['/profile']">Мими</a></li>
				<li><a [routerLink]="['/profile']">Дивна</a></li>
				<li><a [routerLink]="['/profile']">Траяна</a></li>
				<li><a [routerLink]="['/profile']">Петя</a></li>
			</ol>
		</fieldset>
	</div>
	<div class="col-md-4 fieldset-container">
		<fieldset id="fieldset-mobile">
			<legend><a class="a-leg" [routerLink]="['/forum']">Форум публикации</a></legend>
			<dl class="legend-info">
				<a href="">Интересно.....</a><br>
				<a href="">Интересно.....</a><br>
				<a href="">Интересно.....</a><br>
				<a href="">Интересно.....</a><br>
				<a href="">Интересно.....</a><br>
			</dl>
		</fieldset>
	</div>
</div>