<br>
<form (ngSubmit)="loginUser()" class="log-in-form log-form">
    <h1>Вход</h1>
    <br>
    <div class="form-group">
        <label for="tb-username">Потребителско име: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input [(ngModel)]="username" name="username" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn">Парола: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" required>
        </div>
    </div>
    <button class="btn btn-primary" id="btn-login">ВЛЕЗ</button>
</form>