<br>
<form (ngSubmit)="addBabysitter()" class="register-form log-form">
    <h1>Регистрация на детегледачка</h1>
    <br>
    <div class="form-group">
        <label for="tb-name">Потребителско име: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input id="tb-name" [(ngModel)]="name" name="name" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-age">Години: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input [(ngModel)]="age" name="age" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="image-input">Снимка (url): </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input [(ngModel)]="image" id="image-input" type="url" class="form-control" name="image" required>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-email">E-mail: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input id="tb-email" [(ngModel)]="email" name="email" type="email" class="form-control" required>
        </div>
    </div>
    <button class="btn btn-primary" id="btn-register">РЕГИСТРАЦИЯ</button>
</form>