<div>
    <div>
      <form (ngSubmit)="addBabysitter()">
        <label for="name-input">name: </label>
        <input [(ngModel)]="name" id="name-input" type="text" name="name" value=""><br>
        <label for="age-input">age: </label>
        <input [(ngModel)]="age" id="age-input" type="number" name="age" value=""><br>
        <label for="image-input">image url: </label>
        <input [(ngModel)]="image" id="image-input" type="url" name="image" value=""><br>
        <button type="submit">Add Babysitter</button>
      </form>
    </div>
</div>
