#wrapper {
  background-color: #c8b1df;
  font-weight: bold;
}

nav#home-nav ul li {
  margin-left: 33px;;
}

.aside {
    position: absolute;
    top: 21%;
    left: 79%;
    width: 21%;
    min-height: 520px;
    background-color: indigo;
    padding: 2px;
    color: #c4bfc9;
}

form {
  margin-right: 10px
}

span {
  color: #5c4a9c;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

li {
  max-height: 50px
}

ul.right-object li a {
  color: #5c4a9c;
}

nav#home-nav ul li a:hover {
  color: #5c4a9c;
}

main {
  min-height: 720px;
  max-height: 15000px;
}

main, nav {
  background-color: #dbcee5;
  padding: 5px;
}

#home-nav {
  margin-top: -4px;
  background-color: #5c4a9c;
  color: #dbcee5;
  padding: 5px;
}

#nav-up {
  margin-left: 1px;
  margin-right: 1px;
}

#language-btn {
  min-width: 50px;
  max-width: 50px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #dbcee5;
}

h1, ul {
  display: inline-block
}

h6 {
  font-weight: bold;
  position: relative;
  top: -24px;
  left: 55px
}

ul {
  margin-right: 0px;
}

.right-object {
  float: right
}

.login {
  color: #5c4a9c;
  font-weight: bold;
}

ul li a.usr-name {
  font-weight: bold;
  color: #6559ea;
}

span span {
  text-shadow: -1px -1px #283A51;
}

header nav ul a#language-btn {
  background-color: #5c4a9c;
  border-radius: 20px;
  margin-right: 9px;
}

footer {
  min-height: 70px;
  text-align: center;
  color: #dbcee5;
  padding: 5px;
  background-color: #5c4a9c;
}

#home-nav div {
  margin: 5px;
}


/* Bootstrap styles */

.search-form .form-group {
  float: left !important;
  transition: all 0.65s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #dbcee5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}

.search-form .form-group, .search-form .form-group.hover {
  width: 107%;
  border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #5c4a9c;
  left: initial;
  font-size: 14px;
}

/* Bootstrap styles end*/