.forum-post{
  padding: 15px;
  margin-bottom:2%;
  margin-top: 0;
}

p.forum-question{
  display: inline-block;
  position: relative;
  overflow: hidden;
  left: 3%;
  width: 95%;
  height: 60px;
  font-size: 13px;
  -webkit-hyphens: auto!important;
  -ms-hyphens: auto!important;
  hyphens: auto!important;
}


.under-question{
  display: inline-block;
  position: relative;
  width: 85%;
  margin: 15px 0 0 0;
}

.user, .date{
  font-size: 12px;
}

.user{
  color: #000000;
  font-weight: bold;
}

.user:hover{
  color: #496BFF;
}

.user{
  text-decoration: none;
}

.user::before{
  background: url(../../../../assets/images/logo.png);
}

.user::before{
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background-size: 100%;
  margin-bottom: -3px;
  margin-right: 4px;
}

.date{
  margin-left: 25px;
}

h2{
  display: inline-block;
  position: relative;
  font-size: 18px;
  width: 80%;
  margin: 0 0 15px 0;
}

.white{
  background-color: #f0f0f0;
  color: #000000;
}

.h2white{
  color: steelblue;
  cursor: pointer;
}

.h2white:hover{
  color: #496BFF;
}
