<div [hidden]=" isFormVisible">
    <form (ngSubmit)="addItemListing()" #listingItemForm="ngForm">
        <div class="form-group">
            <div class="input-group">
                <label for="theme">Заглавие на обявата:</label>
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span>
                <input id="listing-item-title" type="text" class="form-control" name="title" [(ngModel)]="listingItemForm.title" #title="ngModel" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label for="listing-item-content">Съдържание на темата:</label>
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                <textarea id="listing-item-content" type="text" class="form-control" name="content" [(ngModel)]="listingItemForm.content" #content="ngModel">
            </textarea>
            </div>
        </div>
        <button class="btn btn-primary" id="btn-submit">Публикувй</button>
        <a class="btn btn-success" id="btn-back" [routerLink]="['/listings']">Обратно</a>
    </form>
    {{spy}}
</div>