button {
    background-color: #6559ea;
    display: block;
    margin: 0 auto
}

button:hover {
    background-color: #dbcee5;
    color: #5c4a9c;
}

h1 {
    text-align: center
}

.add-form {
    margin: 2%;
    margin-left: 15%;
    padding: 1%;
    max-width: 50%;
    border: 2px solid indigo;
    color: indigo;
    border-radius: 5px;
}