<div id="wrapper">
  <header>
    <nav id="nav-up">
      <span>
        <a [routerLink]="['/']">
          <img src="../images/logo.png" width="80px" height="60px">
          <span>Родители и детегледачки</span>
        </a>
      </span>
      <ul class="nav nav-tabs right-object">
        <li role="presentation">
          <a class="btn-link login invisible" [routerLink]="['/profile']">
            User
          </a>
        </li>
        <li role="presentation">
          <a class="btn-link login" [routerLink]="['/sign-in']">
            Вход
          </a>
        </li>
        <li role="presentation">
          <a class="btn-link login" [routerLink]="['/sign-up']">
            Регистрация
          </a>
        </li>
        <li role="presentation">
          <a class="btn-link login invisible" [routerLink]="['/sign-out']">
            Изход
          </a>
        </li>
      </ul>
    </nav>
    <nav id="home-nav">
        <ul class="nav nav-tabs">
          <li>
            <a class="btn" [routerLink]="['/']">
              Начало
            </a>
          </li>
          <li role="presentation">
            <a class="btn" [routerLink]="['/childminders']">
              Детегледачки
            </a>
          </li>
          <li role="presentation">
            <a class="btn" [routerLink]="['/forum']">
              Форум
            </a>
          </li>
          <li role="presentation">
            <a class="btn" [routerLink]="['/listings']">
              Обяви
            </a>
          </li>
          <li role="presentation">
            <a class="btn" [routerLink]="['/info']">
              Полезна информация
            </a>
          </li>
          <li role="presentation">
            <a class="btn" [routerLink]="['/fun']">
              Забавно
            </a>
          </li>
          <li id="search-li">
            <div id="search-base">
              <form action="" class="search-form">
                <div class="form-group has-feedback">
                  <label for="search" class="sr-only"></label>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Търсене...">
                  <span class="form-control-feedback"><i class="glyphicon glyphicon-search"></i></span>
                </div>
              </form>
            </div>
          </li>
        </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    Webdjs&copy;2016
  </footer>
</div>