<br>
<div class="register-form log-form">
    <h1>Регистрация</h1>
    <br>
    <div class="form-group">
        <label for="tb-username glyphicon glyphicon-user">Като: </label>
        <select id="role-select" name="role-selector">
            <option value="0">Родител</option>
            <option value="1" selected>Детегледачка</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tb-username glyphicon glyphicon-user">Собствено име: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input id="tb-firstname" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-username glyphicon glyphicon-user">Фамилия: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input id="tb-lastname" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-username glyphicon glyphicon-user">Град: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
        <input id="tb-town" type="text" class="form-control">
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="tb-username glyphicon glyphicon-user">Потребителско име: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input id="tb-username" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn">Парола: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        <input id="tb-password" type="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn-confirm">Повтори паролата: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        <input id="tb-password-confirm" type="password" class="form-control">
        </div>
    </div>
    <button class="btn btn-primary" id="btn-register">РЕГИСТРАЦИЯ</button>
</div>