<div id="main-container">
    <h4 class="navigation-link">
        <div>
            <ul class="ads" (mouseenter)=" toggleSubmenu()" (mouseleave)=" toggleSubmenu()">
                <li>
                    <!--<li (mouseenter)=" toggleSubmenu()" (mouseleave)=" toggleSubmenu()">-->
                    <a href=" # " class="category ">Търси</a>
                    <!--<ul>-->
                    <ul *ngIf="isSubmenuVisible">
                        <li role="presentation">
                            <a href="# " class="category ">Целодневно</a>
                        </li>
                        <li>
                            <a href="# " class="category ">Почасово</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <!--<li (mouseenter)=" toggleSubmenu()" (mouseleave)=" toggleSubmenu()">-->
                    <a href="# " class="category ">Предлага</a>
                    <ul *ngIf="isSubmenuVisible">
                        <li>
                            <a href="# " class="category ">Целодневно</a>
                        </li>
                        <li>
                            <a href="# " class="category ">Почасово</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </h4>
    <div id="forum-main ">
        <div id="forum-menu ">
            <h3 id="info-tab ">Най-нови обяви</h3>


            <listing-item [itemData]="ad" *ngFor="let ad of ads"></listing-item>


            <a class="btn btn-primary" [routerLink]="[ '/listings/form'] ">Добави обява</a>
            <!--<add-form></add-form>-->

        </div>
        <forum-post *ngFor=" let post of posts "></forum-post>
    </div>
    <div id="aside ">
    </div>
</div>