<div class="col-xs-12">
    <div class="col-xs-8 ads">
        <ul class="nav nav-tabs nav-justified">
            <li>
                <a class="category ">Търси</a>
            </li>
            <li>
                <a class="category ">Предлага</a>
            </li>
            <li>
                <a class="category ">Други</a>
            </li>
            <li>
                <a class="btn" (click)="toggleForm()">+Добави обява</a>
            </li>
        </ul>
    </div>
</div>
<div>

    <add-form *ngIf="isFormVisible" (listingItemCreated)=" addListingItem($event) "></add-form>
</div>

<h3 id="last-ads" class="col-xs-8 ads">Най-нови обяви</h3>

<div id=" ">

    <div id="">

        <listing-item [itemData]="listingItem" *ngFor="let listingItem of (listings|sort:true:'date'|last:3)" (deleteItemListing)="removeListingItem(listingItem)"></listing-item>
    </div>
</div>
<div id="aside ">
</div>