body {
	background-image: url('./assets/images/bgP.jpg');
	background-repeat: no-repeat;
	background-size: 100%
}

#loading-container {
	margin-top: 20%;
	margin-left: 45%
}

#loading {
	margin-top: 2%;
	margin-left: 4%
}