ul {
	list-style-type: none;
	font-size: 22px
}

#aside {
    position: absolute;
    top: 20%;
    left: 79%;
    width: 21%;
    min-height: 520px;
    background-color: indigo;
    padding: 2px;
    color: #c4bfc9;
}